<div class="container">
<!--Card-->
<mdb-card dark="true">

  <!--Card image-->
  <div class="view overlay view zoom waves-light" mdbWavesEffect>
    <!--<mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>-->
    <mdb-card-img src="../../../assets/images/layout-1.jpg" alt="layout-photo"></mdb-card-img>

    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <mdb-card-body class="elegant-color white-text">

    <!--Title-->
    <mdb-card-title>
      <h4>Layout-1</h4>
    </mdb-card-title>

    <hr class="hr-light">

    <!--Text-->

    <mdb-card-text class="white-text">
      layout text about
    </mdb-card-text>
    <div class="buttons">
      <a [routerLink]="['/curriculum']" mdbBtn color="white" outline="true" mdbWavesEffect>Write CV
      </a>

      <a [routerLink]="['/cv-editor']" mdbBtn color="white" outline="true"  mdbWavesEffect>Write CL</a>
    </div>


  </mdb-card-body>
  <!--/.Card content-->
</mdb-card>
<!--/.Card-->


<!--Card-->
  <mdb-card dark="true">

    <!--Card image-->
    <div class="view overlay view zoom waves-light" mdbWavesEffect>
      <!--<mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>-->
      <mdb-card-img src="../../../assets/images/layout-2.jpg" alt="layout-photo"></mdb-card-img>

      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">

      <!--Title-->
      <mdb-card-title>
        <h4>Layout-2</h4>
      </mdb-card-title>

      <hr class="hr-light">

      <!--Text-->

      <mdb-card-text class="white-text">
        layout text about
      </mdb-card-text>
      <div class="buttons">
        <a [routerLink]="['/curriculum']" mdbBtn color="white" outline="true" mdbWavesEffect>Write CV
        </a>

        <a [routerLink]="['/cv-editor']" mdbBtn color="white" outline="true"  mdbWavesEffect>Write CL</a>
      </div>


    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
<!--/.Card-->

</div>
