.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

mdb-card {
  margin: 30px;
  max-width: 300px;
}
mdb-card .view {
  max-height: 300px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  a {
    text-transform: lowercase;
    font-size: 16px;
    padding: 5px 15px;
  }
}


