<!--Card-->
<mdb-card dark="true">
		<!--Card image-->
		<div class="view overlay view zoom waves-light" mdbWavesEffect>
				<!--<mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>-->
				<mdb-card-img src="../../../assets/images/{{person.photo}}" alt="person-photo"></mdb-card-img>
				<a>
						<div class="mask rgba-white-slight"></div>
				</a>
		</div>
		<!--/.Card image-->

		<!--Card content-->
		<mdb-card-body class="elegant-color white-text">

				<!--Title-->
				<mdb-card-title>
						<h4>{{person.name}}</h4>
				</mdb-card-title>

				<hr class="hr-light">

				<!--Text-->

				<mdb-card-text class="white-text">
						{{person.position}}
				</mdb-card-text>
				<div class="buttons">
						<a [routerLink]="['/curriculum']" mdbBtn color="white" outline="true" mdbWavesEffect>View
						</a>

						<a [routerLink]="['/cv-editor']" mdbBtn color="white" outline="true" mdbWavesEffect>Edit</a>
				</div>

		</mdb-card-body>
		<!--/.Card content-->
</mdb-card>
<!--/.Card-->

