@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

/* main */
main {
  background-color: #f7f7f7;
}

main a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #4facfe;
}

main a:hover {
  text-decoration: underline;
}

main .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .container .sidebar {
  max-width: 330px;
  width: 100%;
  padding: 30px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 80px;
}

main .container .sidebar .photo {
  position: relative;
  text-align: center;
}

//main .container .sidebar .photo:hover {
//  //opacity: 0.3;
//}

main .container .sidebar .photo img {
  height: 300px;
}

main .container .sidebar .photo img:hover {
  opacity: 0.4;
}

main .container .sidebar .title-info {
  text-align: center;
  margin-top: 15px;
}

main .container .sidebar .title-info .position {
  //max-width: 175px;
  margin: 0 auto;
}

main .container .sidebar .location,
main .container .sidebar .language,
main .container .sidebar .contacts {
  margin-top: 36px;
}

main .container .sidebar .language .lang-btn {
  margin-bottom: 15px;
}

main .container .sidebar .location .loc-town-country {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
main .container .sidebar .location .loc-town-country .md-form:first-child {
  width: 100%;
  margin-right: 7px;
}

main .container .sidebar .contacts .mail,
main .container .sidebar .contacts .street {
  margin-top: 20px;
}

main .container .sidebar .contacts .mail img,
main .container .sidebar .contacts .street img {
  margin: 6px 16px 6px 0;
}

main .container .sidebar .contacts .mail a p:hover,
main .container .sidebar .contacts .street a p:hover {
  text-decoration: none;
  color: #4facfe;
}

main .container .sidebar .contacts .street a p {
  margin-bottom: 0;
  line-height: 1.75;
}

main .container .main-container {
  padding: 14px 40px 60px 40px;
  margin-top: 60px;
  margin-bottom: 80px;
}

main .container .main-container .experience,
main .container .main-container .education,
main .container .main-container .skills {
  margin-top: 55px;
}

main .container .main-container .about-info {
  max-width: 690px;
  margin-top: 20px;
}

main .container .main-container .experience-item,
main .container .main-container .education-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
  border: 1px solid rgba(128, 128, 128, 0.44);
  position: relative;
}

main .container .main-container .experience-item button,
main .container .main-container .education-item button {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  //margin: 0;
}

main .container .main-container .experience-item .exp-item-date,
main .container .main-container .experience-item .education-date,
main .container .main-container .education-item .exp-item-date,
main .container .main-container .education-item .education-date {
  max-width: 240px;
  width: 100%;
  //margin-right: 20px;
}

main .container .main-container .experience-item .exp-info,
main .container .main-container .experience-item .education-info,
main .container .main-container .education-item .exp-info,
main .container .main-container .education-item .education-info {
  max-width: 520px;
  width: 100%;
  padding-left: 10px;
}

main .container .main-container .experience-item .exp-info,
main .container .main-container .education-item .education-info textarea {
  padding-bottom: unset;
}

main .container .main-container .experience-item .exp-item-date,
main .container .main-container .education-item .education-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .container .main-container .experience-item .exp-item-date span,
main .container .main-container .education-item .education-date span {
  margin-top: -5px;
}

main .container .main-container .skills .skills-info,
main .container .main-container .skills .skills-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}


main .container .main-container .skills .skills-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  width: 48%;
  padding: 0 20px 0 0;
  border: 1px solid rgba(128, 128, 128, 0.44);
  position: relative;
}

main .container .main-container .skills .skills-item .btn {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

main .container .main-container .skills .skills-item .md-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  color: #262829;
  letter-spacing: 0;
  width: 42%;
  margin-bottom: unset;
}

//main .container .main-container .skills .skills-item .skills-scale .span {
//  width: 75%;
//  height: 6px;
//  background-color: #4facfe;
//}


.sidebar,
.main-container {
  background-color: #fff;
}

.sidebar .title-info .name p,
.main-container .about .about-title,
.main-container .experience .experience-title,
.main-container .education .education-title,
.main-container .skills .skills-title {
  font-size: 30px;
  font-weight: 500;
  color: #262829;
}

.sidebar .title-info .position p,
.main-container .experience .experience-item .exp-item-date,
.main-container .education .education-item .education-date {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.66;
  color: #4facfe;
}

.sidebar .location .location-title,
.sidebar .language .lang-title,
.sidebar .contacts .contact-title,
.main-container .experience .experience-item .exp-info .exp-position,
.main-container .experience .experience-item .exp-info .exp-work-place,
.main-container .education .education-item .education-info .education-school {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.66;
  color: #262829;
}

.main-container .experience .experience-item .exp-info .exp-position,
.main-container .experience .experience-item .exp-info .exp-work-place {
  padding: 7px 0 0 0;
}


.main-container .education .education-item .education-info .education-level {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #262829;
}

.sidebar .location p,
.sidebar .language .lang-level,
.sidebar .contacts .street p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #696969;
}

.sidebar .language .lang {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #262829;
  width: 130px;
}

.sidebar .language .language-item,
.sidebar .contacts .mail,
.sidebar .contacts .street {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sidebar .language .language-item {
  margin-bottom: 10px;
  align-items: center;
}

.sidebar .language .language-item .md-form {
  width: 45%;
  margin-right: 5px;
}

.sidebar .language .language-item .md-form input {
  margin: 0 5px 5px 0;
}

.sidebar .language .language-item .btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.experience .experience-item .exp-info .first-paragraph {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #262829;
}

.experience .experience-item .exp-info .main-paragraph {
  margin-top: 30px;
}

.main-container .about .about-info,
.experience .experience-item .exp-info .main-paragraph p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #262829;
}

@media (max-width: 989px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main .container .sidebar {
    max-width: unset;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  main .container .sidebar .main-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    //-ms-flex-pack: distribute;
    justify-content: space-around;
  }
  main .container .sidebar .main-info .contacts .street,
  main .container .sidebar .main-info .contacts .mail {
    margin-top: 2px;
  }
  main .container .sidebar .language .lang {
    max-width: 90px;
    min-width: 90px;
    width: 100%;
  }
  main .container .main-container .about-title,
  main .container .main-container .experience-title,
  main .container .main-container .education-title,
  main .container .main-container .skills-title {
    text-align: center;
  }
  main .container .main-container .about-info {
    margin: 20px auto;
  }
  main .container .main-container .experience-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px auto;
  }
  main .container .main-container .experience-item .exp-info {
    padding-left: unset;
    max-width: 100%;
  }
  main .container .main-container .experience-item .exp-position {
    margin-top: 10px;
  }

}

@media (max-width: 720px) {
  main .container .main-container .skills .skills-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  //  main .container .main-container .skills .skills-info .skills-left,
  //  main .container .main-container .skills .skills-info .skills-right {
  //    max-width: 100%;
  //    padding: unset;
  //  }
  //}

  @media (max-width: 629px) {
    main .container .sidebar .main-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 10px;
    }
    main .container .sidebar .main-info .location,
    main .container .sidebar .main-info .language,
    main .container .sidebar .main-info .contacts {
      width: 100%;
    }
    main .container .sidebar .main-info .contacts .street {
      margin-top: 2px;
    }

    .sidebar .language .lang-btn {
      margin-bottom: 15px;
    }



    main .container .sidebar .main-info .language .lang {
      max-width: 150px;
      width: 50%;
      min-width: unset;
    }
    main .container .main-container .education .education-date {
      max-width: 130px;
    }
  }
}

.mat-progress-bar {
  width: 49%;
  height: 6px;
  top: -8px;
}

:host ::ng-deep .ql-editor {
  padding: 0;
}

:host .sidebar .name ::ng-deep .ql-editor {
  text-align: center;
  margin-bottom: 20px;
}

:host .sidebar .position ::ng-deep .ql-editor {
  text-align: center;
}

main .container .sidebar .location .location-town {
  display: flex;
}

.loc-country-ql {
  margin-left: 10px;
}

:host .container .main-container .first-paragraph::ng-deep .ql-editor p {
  margin-bottom: 20px;
}

:host .container .main-container .first-paragraph::ng-deep .ql-editor p a {
  text-decoration: none;
}

:host .main-container .experience .experience-item mat-form-field ::ng-deep.mat-form-field-infix,
:host .main-container .education .education-item mat-form-field ::ng-deep.mat-form-field-infix {
  max-width: 106px;
}

:host .main-container .experience .experience-item mat-form-field ::ng-deep.mat-form-field-suffix,
:host .main-container .education .education-item mat-form-field ::ng-deep.mat-form-field-suffix {
  position: absolute;
  left: 78px;
  top: 20px;
}
//.btn {
//  background-color : #31B0D5;
//  color: white;
//  padding: 10px 20px;
//  border-radius: 4px;
//  border-color: #46b8da;
//}

#fixedBtn {
  position: fixed;
  bottom: 115px;
  right: 30px;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

}

.upload-btn-wrapper:hover {
  background-color: #fff;
  opacity: 0.5;
}


.upload-btn-wrapper button {
  text-transform: inherit;
  height: 45px;
  padding: 8px 15px;
  line-height: 12px;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  display: none;
  //background: #f9fefe !important;
  //opacity: 0.7;
  transform: translate(-50%, -50%);
}

.upload-btn-wrapper:hover button {
  display: block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.sidebar .language .lang-btn ,
.main-container .experience .exp-btn,
.main-container .education .educate-btn,
.main-container .skills .skills-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container .experience .exp-btn button,
.main-container .education .educate-btn button,
.main-container .skills .skills-btn button {
  margin-right: unset;
}

//.main-container .experience .experience-item .exp-item-date .start-date,
//.main-container .experience .experience-item .exp-item-date .end-date {
//  width: 40%;
//  height: 40px;
//}



.sidebar .main-info .language .lang-btn .btn {
  height: 30px;
  line-height: 6px;
  margin: 0;
}

.sidebar .main-info .language .language-item mat-form-field {
  width: 43%;
  margin-right: 8px;
}

.sidebar .main-info .language .language-item  {
  justify-content: space-between;
}
//
//::ng-deep {
//  .mat-slider-thumb-label {
//    transform: rotate(45deg) !important;
//    border-radius: 50% 50% 0 !important;
//  }
//
//  .mat-slider-thumb {
//    transform: scale(0) !important;
//  }
//
//  .mat-slider-thumb-label-text {
//    opacity: 1 !important;
//  }
//}
//
