<div class="my-container">
  <div class="form-wrapper">
    <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
      <h2 class="form-title">Login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
      <div *ngIf="isLoading" class="alert alert-light">Loading...</div>

      <div class="my-form-control">
        <i class="fa fa-user input-icon fa-lg"></i>
        <input type="text" spellcheck="false" name="userName" ngModel required #userName="ngModel"
               class="my-control underline-effect triggered label-effect"
               pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
               [class.triggered]="loginForm.controls['userName']?.value.length" [class.border-grey]="userName.pristine"
               [class.border-red]="userName.dirty && userName.invalid" [class.border-green]="userName.valid" />
        <span class="line bg-grey"[ngClass]="{ 'bg-grey': userName.pristine, 'bg-green': userName.valid, 'bg-red': userName.invalid && userName.dirty }"></span>
        <span class="label grey-text">User Name</span>
      </div>
      <span *ngIf="userName.invalid && showErrors" class="red-text">* Field is invalid.</span>

      <div class="my-form-control">
        <i class="fa fa-lock input-icon fa-lg"></i>
        <input type="password" spellcheck="false" name="password" ngModel #password="ngModel"
               class="my-control underline-effect triggered label-effect"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n]).*$" required
               [class.triggered]="loginForm.controls['password']?.value.length" [class.border-grey]="password.pristine"
               [class.border-red]="password.dirty && password.invalid" [class.border-green]="password.valid" />
          <span class="line" [ngClass]="{ 'bg-grey': password.pristine, 'bg-green': password.valid, 'bg-red': password.invalid && password.dirty }"></span>
        <span class="label grey-text">Password</span>
      </div>
      <span *ngIf="password.invalid && showErrors" class="red-text">* Field is invalid.</span>

      <div class="my-form-control corners">
        <button type="submit" class="form-btn">Confirm</button>
      </div>

      <a class="link" routerLink="/registration" routerLinkActive="active">Create account</a>
    </form>
  </div>
</div>

