<main>
		<button (click)="exportToPdf()" class="btn btn-dark"><fa-icon [icon]="['fas', 'file-export']"></fa-icon></button>
		<ngx-ui-loader fgsSize="120"
									 [fgsType]="spinner.SPINNER.threeStrings"
									 fgsColor="#2d3232"
									 blur="5"
									 overlayColor="rgba(169,155,155,0.8)"
									 hasProgressBar="true"
									 pbColor="#2d3232"
									 text="PDF is loading ..."
									 textColor="#2d3232"
									 textPosition="center-center"

		></ngx-ui-loader>
		<div class="container" id="contentToConvert" #contentToConvert>
				<div class="sidebar">
						<div class="photo"><img src="../../../assets/images/{{person.photo}}" alt="photo"></div>
						<div class="title-info">
								<div class="name">
										<p>{{person.name}}</p>
								</div>
								<div class="position">
										<p>{{person.position}}</p>
								</div>
						</div>
						<div class="main-info">
								<div class="location">
										<div class="location-title">Location:</div>
										<p>{{person.town}}, {{person.country}}</p>
								</div>
								<div class="language">
										<div class="lang-title">Languages:</div>
										<div *ngFor="let lang of languages" class="language-item">
												<p class="lang">{{lang.language}}</p>
												<p class="lang-level">{{lang.level}}</p>
										</div>
								</div>
								<div class="contacts">
										<div class="contact-title">Contacts:</div>
										<div
													class="mail"><img src="../../../assets/images/mail-logo.png" alt="mail"><a
													href="#">{{person.mail}}</a></div>
										<div class="street"><img src="../../../assets/images/placeholder.png" alt="placeholder"><a
													href="https://www.google.com/maps/place/49%C2%B026'04.7%22N+27%C2%B000'07.9%22E/@49.434627,27.0016548,19z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d49.4346269!4d27.0022024"
													target="_blank">
												<p>{{person.street}}</p></a></div>
								</div>
						</div>
				</div>
				<div class="main-container">
						<div class="about">
								<div class="about-title">ABOUT ME</div>
								<p class="about-info">{{person.about}}</p>
						</div>
						<div class="experience">
								<div class="experience-title">EXPERIENCE</div>
								<div *ngFor="let experience of experiences" class="experience-item">
										<p class="exp-item-date">{{experience.startDate.format('MMM-YYYY')}} -
												{{experience.endDate.format('MMM-YYYY')}}</p>
										<div class="exp-info">
												<p class="exp-position">{{experience.position}}</p>
												<p class="exp-work-place">{{experience.company}}</p>
												<div class="first-paragraph">
														<p [innerHTML]="experience.info"></p>
												</div>
										</div>
								</div>
						</div>
						<div class="education">
								<div class="education-title">EDUCATION</div>
								<div *ngFor="let educate of education" class="education-item">
										<div class="education-date">{{educate.startDate.format('YYYY')}} -
												{{educate.endDate.format('YYYY')}}</div>
										<div class="education-info">
												<div class="education-school">
														<p>{{educate.university}}</p>
												</div>
												<div class="education-level">
														<p>{{educate.degree}}</p>
												</div>
										</div>
								</div>
						</div>
						<div class="skills">
								<div class="skills-title">SKILLS</div>
								<div class="skills-info">
										<!--<div class="skills-item">-->
												<!--<p>C#</p>-->
												<!--&lt;!&ndash;<div class="skills-scale">&ndash;&gt;-->
												<!--&lt;!&ndash;<div class="span span-75"></div>&ndash;&gt;-->
												<!--<mat-slider thumbLabel></mat-slider>-->
												<!--&lt;!&ndash;</div>&ndash;&gt;-->
										<!--</div>-->
										<div *ngFor="let skill of skills" class="skills-item">
												<p>{{skill.name}}</p>
												<mat-progress-bar value="{{skill.level*10}}"></mat-progress-bar>
										</div>
								</div>
						</div>
				</div>
		</div>
</main>
