<main>
  <div class="container">
    <div class="sidebar">
      <div class="photo">
        <img style="max-width: 270px" [src]="personPhoto" alt="">
        <div class="upload-btn-wrapper">
          <button mdbBtn type="button" color="dark" outline="true" mdbWavesEffect>
            <fa-icon
                  [icon]="['fas','image']"></fa-icon>
          </button>
          <input type='file' (change)="onSelectFile($event)">
        </div>

      </div>
      <div class="title-info">
        <div class="name md-form">
          <input mdbInput type="text" name="text" [(ngModel)]="person.name" id="name" class="form-control">
          <label for="name" class="">Your name</label>
        </div>
        <div class="position md-form">
										<textarea type="text" name="text" [(ngModel)]="person.position" id="current-position"
                              class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
          <label for="current-position" class="">Your position</label>
        </div>
      </div>
      <div class="main-info">
        <div class="location">
          <div class="location-title">Location:</div>
          <div class="loc-town-country ">
            <div class="md-form">
              <input mdbInput type="text" name="text" [(ngModel)]="person.town" id="town"
                     class="form-control">
              <label for="town" class="">Your region(town)</label>
            </div>
            <span> </span>
            <div class="md-form">
              <input mdbInput type="text" name="text" [(ngModel)]="person.country" id="country"
                     class="form-control">
              <label for="country" class="">Your country</label>
            </div>
          </div>
        </div>
        <div class="language">
          <div class="lang-btn">
            <div class="lang-title">Languages:</div>
            <button (click)="addLanguage()" class="btn btn-dark">Add</button>

          </div>

          <div *ngFor="let lang of languages; let i = index" class="language-item">
            <div class="md-form">
              <input mdbInput type="text" name="text" [(ngModel)]="lang.language" id="language"
                     class="form-control">
              <label for="language" class="">Language</label>
            </div>
            <!--<mat-form-field>-->
            <!--<mat-select placeholder="Language" name="lang.language"-->

            <!--[(ngModel)]="lang.language">-->
            <!--<mat-option *ngFor="let langName of languageNames"-->
            <!--[value]="langName">{{ langName }}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->

            <mat-form-field>
              <mat-select placeholder="level" name="lang.level"

                          [(ngModel)]="lang.level">
                <mat-option *ngFor="let langLevel of languageLevels"
                            [value]="langLevel">{{ langLevel }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="removeLanguage(i)" class="btn btn-dark">
              <fa-icon
                    [icon]="['fas','times']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="contacts">
          <div class="contact-title">Contacts:</div>
          <div class="mail">
            <form [formGroup]="validationForm">
              <div class="md-form">
                <fa-icon class="prefix" [icon]="['fas','envelope']"></fa-icon>
                <input
                      mdbInput
                      mdbValidate
                      formControlName="emailFormEx"
                      minLength="8"
                      maxLength="25"
                      type="email"
                      class="form-control"
                      id="mail-edit"
                      [(ngModel)]="person.mail">
                <label for="mail-edit">Type your e-mail</label>
                <mdb-error *ngIf="emailFormEx.invalid && (emailFormEx.dirty || emailFormEx.touched)">
                  Input invalid
                </mdb-error>
                <mdb-success *ngIf="emailFormEx.valid && (emailFormEx.dirty || emailFormEx.touched)">
                  Input valid
                </mdb-success>
              </div>
            </form>
          </div>
          <div class="street">
            <div class="md-form">
              <fa-icon class="prefix" [icon]="['fas','map-marker-alt']"></fa-icon>
              <input
                    mdbInput
                    type="text"
                    class="form-control"
                    id="street-edit"
                    [(ngModel)]="person.street">
              <label for="street-edit">Type your street</label>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="about">
        <div class="about-title">ABOUT ME</div>
        <quill-editor
              class="about-info"
              theme="snow"
              [styles]="editorStyle"
              [(ngModel)]="person.about"
        ></quill-editor>
      </div>
      <div class="experience">
        <div class="exp-btn">
          <div class="experience-title">EXPERIENCE</div>
          <button (click)="addExperience()" class="btn btn-dark">Add</button>
        </div>
        <div *ngFor="let experience of experiences; let i = index; let j = index" class="experience-item">
          <div class="exp-item-date">
            <app-datepicker [data]="experience.startDate"
                            [dataEnd]="experience.endDate"></app-datepicker>

          </div>
          <div class="exp-info">
            <div class="md-form">
										<textarea type="text" name="text" [(ngModel)]="experience.position" id="exp-position"
                              class="exp-position md-textarea form-control" mdbInput></textarea>
              <label for="exp-position" class="">Position</label>
            </div>
            <div class="md-form">
										<textarea type="text" name="text" [(ngModel)]="experience.company" id="exp-company"
                              class="exp-work-place md-textarea form-control" mdbInput></textarea>
              <label for="exp-company" class="">Company</label>
            </div>
            <div class="first-paragraph">
              <p>
                <quill-editor
                      theme="snow"
                      placeholder="Insert some text about experience(projects, used technologies, etc.)"
                      sanitize="true"
                      [styles]="editorStyle"
                      [modules]="configCustom"
                      [(ngModel)]="experience.info">
                </quill-editor>
              </p>
            </div>
          </div>
          <button (click)="removeExperience(i)" class="btn btn-dark">
            <fa-icon
                  [icon]="['fas','trash-alt']"></fa-icon>
          </button>
        </div>
      </div>
      <div class="education">
        <div class="educate-btn">
          <div class="education-title">EDUCATION</div>
          <button (click)="addEducation()" class="btn btn-dark">Add</button>
        </div>
        <div *ngFor="let educate of education; let es=index; let ee = index" class="education-item">
          <div class="education-date">
            <app-educate-datepicker
                  [educationData]="educate.startDate" [educationDataEnd]="educate.endDate"></app-educate-datepicker>
          </div>
          <div class="education-info">
            <div class="md-form">
										<textarea type="text" name="text" [(ngModel)]="educate.university" id="educate-university"
                              class="exp-position md-textarea form-control" mdbInput></textarea>
              <label for="educate-university" class="">University</label>
            </div>
            <div class="md-form">
										<textarea type="text" name="text" [(ngModel)]="educate.degree" id="educate-degree"
                              class="exp-work-place md-textarea form-control" mdbInput></textarea>
              <label for="educate-degree" class="">Degree</label>
            </div>
          </div>
          <button (click)="removeEducation(e)" class="btn btn-dark">
            <fa-icon
                  [icon]="['fas','trash-alt']"></fa-icon>
          </button>
        </div>
      </div>
      <div class="skills">
        <div class="skills-btn">
          <div class="skills-title">SKILLS</div>
          <button (click)="addSkill()" class="btn btn-dark">Add</button>
        </div>
        <div class="skills-info">
          <div *ngFor="let skill of skills; let i=index" class="skills-item">
            <div class="md-form">
              <input mdbInput type="text" name="text" [(ngModel)]="skill.name" id="skill"
                     class="form-control">
              <label for="skill" class="">Skill</label>
            </div>
            <mat-slider tickInterval="1" min="1" max="10" step="1" value="{{skill.level}}"
                        [thumbLabel]="true"></mat-slider>
            <button (click)="removeSkill(i)" class="btn btn-dark">
              <fa-icon
                    [icon]="['fas','times']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div id="fixedBtn">
  <button class="btn btn-dark mt-3">Save</button>
</div>

