<main id="main" class="smaller">
  <div class="header gradient">
    <div class="inner_content">
      <div class="content">
        <h3>The Online Resume Builder</h3>
        <p>Creating a Professional Resume and Cover Letter Has Never Been So Easy.</p>
        <p style="margin-top: 20px;">Making a resume is the first step of any job search. Not sure how to make a resume? Our
          online resume
          builder gives you free resume templates to follow.</p>

        <h4>Benefits of using a resume builder</h4>
        <div class="wrapper">
          <div>
            <div>1</div>
            <p>A creative, professional layout can grab a recruiter's attention. Our resume layout optimizer makes
              sure all your content is aligned and organized, so your resume looks like a work of art.</p>
          </div>

          <div>
            <div>2</div>
            <p>Let our free resume templates and cover letter templates do the work for you. Choose from a selection of recruiter-approved layout designs for different job types.</p>
          </div>

          <div>
            <div>3</div>
            <p>If you aren't sure how to write a resume, don't worry. Our content optimizer analyzes your resume and gives you suggested revisions to increase the quality of your content.</p>
          </div>

          <div>
            <div>4</div>
            <p>Not only do you get to build your resume for free, you also get access to successful resume samples and cover letter examples that you can use for guidance.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>

