/*.login-form .container{
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form {
  height: 100vh;
  display: flex;
  align-items: center;
}*/
.my-container {
  display: grid;
  position: fixed;
  grid-template-columns: 10px 1fr 10px;
  height: 100%;
  width: 100%;
  background: #9b59b6;
  background: radial-gradient(circle at center, #3498db, #9b59b6);
}

form {
  max-width: 380px;
  min-width: 180px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.38);
  border-radius: 20px;
}

.form-title {
  margin: 20px 0px 20px 5px;
}

.form-btn {
  margin-top: 20px;
}

.form-wrapper {
  grid-column: 2;
}

.my-form-control {
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  margin: 10px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.my-form-control.corners {
  border-radius: 0;
}

input {
  font: 16px/22px "Lato", Arial, sans-serif;
  width: 100%;
  min-height: 45px;
  max-height: 55px;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 8px;
}

input:hover {
  background: #fafafa;
}

input:focus {
  outline: none;
}

input::selection {
  background-color: #808080;
  color: #fff;
}

button[type="submit"] {
  font: 16px/18px "Lato", Arial, sans-serif;
  width: 100%;
  min-height: 45px;
  max-height: 55px;
  background: #333;
  color: #fff;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  transition: 0.2s;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background: #fff;
  color: #333;
  border: 2px solid #333;
  transition: 0.2s;
  cursor: pointer;
}

button[type="submit"]:focus {
  outline: none;
}

button[type="submit"]:active {
  background: #f0f0f0;
}

.my-control {
  border: 0;
  padding: 5px 14px 2px 36px;
  border-bottom: 2px solid;
}

.underline-effect ~ .line {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  min-height: 5px;
  height: 10%;
  transition: 0.2s;
}

.underline-effect:focus ~ .line {
  width: 100%;
  transition: 0.2s;
}

.label-effect ~ .label {
  pointer-events: none;
  position: absolute;
  font-size: 16px;
  font-family: "Lato", Arial, sans-serif;
  left: 36px;
  top: 30%;
  transition: 0.1s;
}

.label-effect:focus ~ .label,
.triggered ~ .label {
  font-size: 10px;
  top: 0;
  transition: 0.1s;
}

i.input-icon {
  position: absolute;
  float: left;
  vertical-align: 50%;
  left: 7px;
  top: 30%;
  filter: drop-shadow(1px 1px 2px #808080);
}

i.input-icon:hover {
  filter: drop-shadow(1px 1px 2px #000);
  cursor: pointer;
}

.error-label {
  font: 11px "Lato", Arial, sans-serif;
  width: 25%;
  padding-left: 14px;
  padding-top: 2px;
  height: auto;
  color: #f00;
  position: absolute;
}

.icon-btn:focus {
  outline: none;
}

@media screen and (max-width: 310px) {
  .icon-btn {
    width: 20%;
  }
}

.bg-red {
  background: linear-gradient(to right, #e60454 0%, #ff1744 51%, #e60454 100%);
  background-size: 150%;
  animation: webflow 3s infinite;
}

.bg-grey {
  background-color: #d3d3d3;
}

.bg-green {
  background-size: 150%;
  animation: webflow 3s infinite;
  background: linear-gradient(to right, #3da100 0%, #3da809 51%, #3da100 100%);
}

.border-red {
  border-color: #f00;
}

.border-green {
  border-color: #3da809;
}

.border-grey {
  border-color: #ccc;
}

.red-text {
  font: 11px "Lato", Arial, sans-serif;
  color: #f00;
}

.green-text {
  color: #3da809;
}

.link {
  font-style: italic;
  color: #ccc;
  text-decoration: none;
}

.link:hover {
  color: #3da809;
}

.link:visited {
  color: #ccc;
}
