header {
  width: 100%;
  background-color: #000;
  padding: 15px 0;
}

header .logo {
  width: 235px;
  height: 60px;
}

header .logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=header.component.css.map */
