<header>
		<div class="container">
				<div class="logo">
						<a href="http://ithoot.com/" target="_blank">
								<img src="../../../../assets/images/logo.jpg" alt="logo">
						</a>
				</div>
				<div class="nav-menu">
						<mdb-navbar SideClass="navbar navbar-expand-lg" [containerInside]="false">

								<links>
										<ul class="navbar-nav mr-auto">
												<li class="nav-item" *ngFor="let item of navItems; let i = index">
														<a class="nav-link waves-light"
															 [routerLink]="[item.link]"
															 routerLinkActive="active"
															 [routerLinkActiveOptions]="{ exact: true}"
															 mdbWavesEffect>
																<fa-icon icon="{{item.icon}}"></fa-icon>
																{{item.title}}
														</a>
												</li>
										</ul>

										<button
													mdbBtn
													type="button"
													color="elegant"
													mdbWavesEffect
													[routerLink]="['/cv-new']">
												Write CV
										</button>


										<ul class="navbar-nav ml-auto nav-flex-icons">
												<li class="nav-item">
														<a class="nav-link">1
																<fa-icon [icon]="['fas','envelope']"></fa-icon>
														</a>
												</li>
												<li class="nav-item dropdown" dropdown>
														<a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
															 mdbWavesEffect>
																<fa-icon [icon]="['fas','user']"></fa-icon>
																{{currentUser}}<span class="caret"></span></a>
														<div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
																 role="menu">
																<a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
																<a  class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log
																out</a>
														</div>
												</li>
										</ul>
								</links>

						</mdb-navbar>
				</div>
		</div>
</header>
