
header {
  width: 100%;
  background-color: #000;
  padding: 15px 0;
}

header .container {
  display: flex;
  align-items: center;
  color: #eaeaea;
  font-size: 20px;
}

header .logo {
  width: 235px;
  height: 60px;
}


header .logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-menu {
  width: 100%;
}

header .nav-link {
  color: #eaeaea;
  margin-right: 20px;
}

mdb-navbar button {
  text-transform: inherit;
}


