/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-horizontal {
  height: 40px !important;
  width: 50%;
}

.mat-slider-horizontal .mat-slider-wrapper {
  top: 7px !important;
}
//.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
//  top: 18px;
//
//}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 6px;
  //border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;

}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill,
.mat-accent .mat-slider-thumb-label {
  background-color: #4facfe;

}
.mat-accent .mat-slider-thumb {
  //height: 20px;
  //width: 10px;
  background-color: white;
  border: solid 2px black;
  bottom: -12px;

}
//.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
//  background-color: white;
//}

.mat-progress-bar-buffer {
  background-color: #e8e8e8;
}

.mat-progress-bar-fill::after {
  background-color: #4facfe;
}
