  <div class="my-container">
    <div class="form-wrapper">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <h2 class="form-title">Register</h2>
        <div *ngIf="invalidRegister" class="alert alert-danger">Some error occurred.</div>
        <div *ngIf="successRegister" class="alert alert-success">Check email and confirm registration.</div>
        <div *ngIf="isLoading" class="alert alert-light">Loading...</div>

        <div class="my-form-control">
          <i class="fa fa-user input-icon fa-lg"></i>
          <input type="text" spellcheck="false" name="email" ngModel required #email="ngModel"
                 pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}$"
                 class="my-control underline-effect triggered label-effect"
                 [class.triggered]="registerForm.controls['email']?.value.length" [class.border-grey]="email.pristine"
                 [class.border-red]="email.dirty && email.invalid" [class.border-green]="email.valid" />
          <span class="line" [ngClass]="{ 'bg-grey': email.pristine, 'bg-green': email.valid, 'bg-red': email.invalid && email.dirty }"></span>
          <span class="label grey-text">E-mail</span>
        </div>
        <span *ngIf="email.invalid && showErrors" class="red-text">* Field is invalid.</span>

        <div class="my-form-control">
          <i class="fa fa-user input-icon fa-lg"></i>
          <input type="text" spellcheck="false" name="userName" ngModel required #userName="ngModel"
                 class="my-control underline-effect triggered label-effect"
                 pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
                 [class.triggered]="registerForm.controls['userName']?.value.length" [class.border-grey]="userName.pristine"
                 [class.border-red]="userName.dirty && userName.invalid" [class.border-green]="userName.valid" />
          <span class="line" [ngClass]="{ 'bg-grey': userName.pristine, 'bg-green': userName.valid, 'bg-red': userName.invalid && userName.dirty }"></span>
          <span class="label grey-text">User Name</span>
        </div>
        <span *ngIf="userName.invalid && showErrors" class="red-text">* Field is invalid.</span>

        <div class="my-form-control">
          <i class="fa fa-lock input-icon fa-lg"></i>
          <input type="password" spellcheck="false" name="password" ngModel #password="ngModel"
                 class="my-control underline-effect triggered label-effect"
                 pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n]).*$" required
                 [class.triggered]="registerForm.controls['password']?.value.length" [class.border-grey]="password.pristine"
                 [class.border-red]="password.dirty && password.invalid" [class.border-green]="password.valid" />
          <span class="line" [ngClass]="{ 'bg-grey': password.pristine, 'bg-green': password.valid, 'bg-red': password.invalid && password.dirty }"></span>
          <span class="label grey-text">Password</span>
        </div>
        <span *ngIf="password.invalid && showErrors" class="red-text">* Field is invalid.</span>

        <div class="my-form-control">
          <i class="fa fa-lock input-icon fa-lg"></i>
          <input type="password" spellcheck="false" name="confirmPassword" ngModel #confirmPassword="ngModel"
                 class="my-control underline-effect triggered label-effect"
                 pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n]).*$" required
                 [class.triggered]="registerForm.controls['confirmPassword']?.value.length" [class.border-grey]="confirmPassword.pristine"
                 [class.border-red]="confirmPassword.dirty && confirmPassword.invalid || confirmPassword.value != password.value" [class.border-green]="confirmPassword.valid && confirmPassword.value == password.value" />
          <span class="line" [ngClass]="{ 'bg-grey': confirmPassword.pristine, 'bg-green': confirmPassword.valid && confirmPassword.value == password.value, 'bg-red': confirmPassword.invalid && confirmPassword.dirty || confirmPassword.value != password.value }"></span>
          <span class="label grey-text">Confirm Password</span>
        </div>
        <span *ngIf="confirmPassword.invalid && showErrors" class="red-text">* Field is invalid.</span>
        <span *ngIf="password.value != confirmPassword.value && showErrors" class="red-text">* Fields aren't equal.</span>

        <div class="my-form-control corners">
          <button type="submit" class="form-btn">Confirm</button>
        </div>

        <a class="link" routerLink="/login" routerLinkActive="active">Already have account?</a>
      </form>
    </div>
  </div>
