<footer>
  <div class="container">
    <div
          class="logo"><a href="http://ithoot.com/"
                          target="_blank"><img src="../../../../assets/images/logo.jpg" alt="logo"></a></div>
    <div class="rights">
      <p>© All rights reserved by <a href="http://ithoot.com/">ItHoot</a></p>
    </div>
    <div class="contacts">
      <div class="phone"><a
            href="tel:+380670000000"><img src="../../../../assets/images/phone-icon.png" alt="phone"></a>
        <p>067 000 00 00</p>
      </div>
      <div
            class="mail"><img src="../../../../assets/images/mail-logo.png" alt="mail"><a
            href="mailto:info@ithoot.com">info@ithoot
        .com</a></div>
    </div>
  </div>
</footer>
