footer {
  width: 100%;
  background-color: #000;
}

footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .container .logo {
  width: 235px;
  margin: 15px 0;
}

footer .container .logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .rights {
  width: 254px;
}

footer .container .contacts {
  height: 73px;
}

footer .container .contacts .phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .contacts .phone a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .contacts .phone a img {
  margin-top: 5px;
  height: 21px;
  width: 23px;
}

footer .container .contacts .mail img {
  height: 16px;
  width: 24px;
}

footer .container p {
  font-size: 18px;
  line-height: 1.66;
  color: #eaeaea;
}

footer .container a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #4facfe;
}

footer .container a:hover {
  text-decoration: underline;
}

footer .container img {
  margin-right: 15px;
}

@media (max-width: 790px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
  }

  footer .container .rights {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

/*# sourceMappingURL=footer.component.css.map */
