:host mat-form-field ::ng-deep.mat-form-field-infix{
  width: 100%;
  max-width: 110px;
  text-align: center;
}

:host mat-form-field ::ng-deep.mat-form-field-suffix{
  position: absolute;
  left: 88px;
  top: 20px;
}
mat-form-field:first-child {
  margin-right: 7px;
}

:host mat-form-field ::ng-deep .mat-form-field-label {
  font-size: 13px;
}
