:host mat-form-field ::ng-deep.mat-form-field-infix{
  width: 100%;
  max-width: 110px;
}

:host mat-form-field ::ng-deep.mat-form-field-suffix{
  position: absolute;
  left: 78px;
  top: 20px;
}
mat-form-field:first-child {
  margin-right: 7px;
}

:host mat-form-field ::ng-deep .mat-form-field-label {
  font-size: 11px;
}

//mat-form-field input label {
//  color: red !important;
//}
