<mat-form-field>
  <input matInput [matDatepicker]="i" placeholder="Start month/year"
         [formControl]="date"
         [value]="startDate">
  <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
  <mat-datepicker #i
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, i, startDate)"
                  startView="multi-year"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="j" placeholder="End month/year"
         [formControl]="dateEnd"
         [value]="endDate">
  <mat-datepicker-toggle matSuffix [for]="j"></mat-datepicker-toggle>
  <mat-datepicker #j
                  (yearSelected)="chosenEndYearHandler($event)"
                  (monthSelected)="chosenEndMonthHandler($event, j, endDate)"
                  startView="multi-year"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
